.user-login-bg {
  background-image:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://images.unsplash.com/photo-1540202404-a2f29016b523?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1633&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.login-container {
  margin: 100px 0 200px;
  padding: 40px;
  background-color: var(--white);
  color: var(--blue-900);
}

.btn-login {
  width: 100%;
  background-color: var(--blue-900) !important;
  color: var(--white) !important;
  text-align: center;
}
