<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 d-flex">
          <i class="fa fa-twitter-square mr-3" aria-hidden="true"></i>
          <i class="fa fa-facebook-square mr-3" aria-hidden="true"></i>
          <i class="fa fa-instagram mr-3" aria-hidden="true"></i>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
          <h1>Maldives Resort</h1>
          <h3>ISLAND PRIVATE<h3>
        </div>
        <div class="col-sm-12 col-md-4">
          <ul>
            <li>HOME</li>
            <li>ABOUT US</li>
            <li>LOGIN</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
